* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --white: #FFF;
  --gray-50: #F7F8FA;
  --gray-100: #E6E8EB;
  --gray-200: #AFB2B1;
  --gray-500: #808080;
  --gray-800: #494D4B;
  --green-500: #04D361;
  --purple-300: #9F75FF;
  --purple-400: #9164FA;
  --purple-500: #8257E5;
  --purple-800: #6F4BC8;
}

// # Home Page #
.home {
  background-color: var(--purple-300);
  height: 100vh;


  .homeDivOne {
    background-color: black;
    // margin: 25px 250px;
    height: 50%;
    display: flex;

    img{
      background-repeat:no-repeat;
      width: 100%;
    }
  }

  .homeDivTwo {
    background-color: var(--purple-300);
    margin: 25px 200px;
    display: flex;
    justify-content: center;
  
    button{
      width: 100px;
      height: 100px;
      font-family: sans-serif;
      font-size: 14px;
      display:inline-block;
      padding:0.35em 1.2em;
      border:1px solid var(--green-500);
      margin:0 0.3em 0.3em 0;
      border-radius:50%;
      box-sizing: border-box;
      text-decoration:none;
      font-weight:300;
      color:white;
      text-align:center;
      transition: all 0.2s;
      background-color: var(--green-500);
    }
    button:hover{
      color:white;
      background-color: #060b26;
    }
  }
}


// # Login Page #
.login{
  background-color: var(--purple-800);
  height: 100vh;
  padding-top: 10%;

  .login-form{
    // background-color: red;
    margin-left: 10%;

    input{
      margin-bottom: 5%;
    }
  }
  .card{
    display:flex;
    margin: 0 auto;
    
    .btn-login{
      font-family: sans-serif;
      font-size: 16px;
      color: white;
      background-color: var(--green-500);
      margin-top: 5%;
      margin-left: 30%;
      width: 80px;
    }
  }
}

// # Model Page #
.models{
  background-color: var(--purple-300);
  min-height:100vh;
  display: flex;
  
  .models-content{
    display: grid;
    margin: 5% auto;
    grid-gap: 30px;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items:center;

    @media (max-width: 500px)  {
      padding: 0 10%;
    }
    padding: 0 30%;

  }
}

// # About Page #
.about{
  background-color: var(--purple-300);
  min-height:100vh;
 
  .about-content{
    font-family: sans-serif;
    margin-top: 2%;
    margin-left:auto;
    margin-right: auto; 
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;

    @media (max-width: 500px)  {
      max-width: 320px;
    }
    
    max-width: 600px;

    h1,h3{
      font-family:fantasy;
    }
   
    ul{
      text-align: left;
    }

    font-family: sans-serif;

    img{
      margin-top: 2%;
      border-radius: 50%;
      max-width: 100px;
    }
  }
}

// # Contact Page #
.contact{
  background-color: var(--purple-300);
  min-height: 100vh;
  height: 100%;
  padding-top: 5%;
  display: flex;
  
  .contact-content{
    font-family: fantasy;
    border-radius: 2.5em;
    background-color: aqua;
    display: inline-block;
    padding-left: 1.5%;
    margin: 0 auto;

    h1{
      text-decoration: underline;
    }

    @media (max-width: 500px)  {
      width: 70%;
      height:70%;
    }
    width: 40%;
    height: 40%;
    
  }
}

//  # Kmeans Page #

.kmeans{
  background-color: var(--purple-300);
  min-height: 100vh;
  height: 100%;

  .kmeans-content{
    border-radius: 2.5em;
    background-color: #E6E8EB;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    padding-top: 5%;
   
    overflow-wrap: break-word;

    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items:center;

    ul {
      font-size: small;
    }

    img{
      @media (max-width: 500px)  {
        max-width: 320px;
      }
      max-width: 120%;
    }
  }

  #liauto1{
    text{
      color: black;
      font-weight: bold;
    }
  }

  #liauto2{
    text {
      color: green;
      font-weight: bold;
    }
  }

  #liauto3{
    text{
      color:yellow;
      font-weight: bold;
    }
  }

  #liauto4{
    text{
      color:blue;
      font-weight: bold;
    }
  }

  #liauto5{
    text{
      color:purple;
      font-weight: bold;
    }
  }

}




// ## Page Dataset ## 

.dataset{
  background-color: var(--purple-300);
  min-height: 100vh;
  height: 100%;


  .dataset-search{
    font-size:small;
    font-family: sans-serif;
    margin: 1% auto;
    display:inline-block;
    justify-content: space-around;
    background-color: aquamarine;
    border: 2px solid #060b26;;
    border-radius: 5px;
    label{
      margin-left: 5px;
    }
  }

  .dataset-content{
    

    input{
      border-radius: 4px;
      height: 35px;
      font-family: sans-serif;
      font-size: large;
    }

    padding: 2% 5%;
  }

  .DataTable{
    font-family: sans-serif;
  }
}

// Imagem do modal
.imgModal {
  @media (max-width: 500px)  {
    max-width: 320px;
  }
}

.lr{
  background-color: var(--purple-300);
  min-height: 100vh;
  height: 100%;

  .lr-content{
    border-radius: 2.5em;
    background-color: #E6E8EB;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    padding-top: 5%;
   
    overflow-wrap: break-word;

    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items:center;

    img{
      @media (max-width: 500px)  {
        max-width: 320px;
      }
      max-width: 120%;
    }

  }

}